<div class="header-wrapper" [ngClass]="getHeadClass()">
  <div class="header-container">
    @if (isMobile() && (isAuthenticated$ | async)) {
      <button class="hamburger-btn" (click)="onHamburgerClick.emit()" aria-label="Open navigation menu">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
      </button>
    }
    <div class="header-container__logo">
      <img src="/assets/img/logo/nttD.png" alt="Forno logo">
      <span>Forno & Slice</span>
    </div>
    @if (isAuthenticated$ | async) {
      <app-user-panel></app-user-panel>
    } @else {
      <div class="language">
        <a (click)="translate.use('sp')">
          <span>{{ 'Spain' }}</span>
        </a>
        |
        <a (click)="translate.use('en')">
          <span>{{ 'English' }}</span>
        </a>
      </div>
    }
  </div>
</div>
